body {
  margin: 0;
  padding: 0;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border-radius: 20px;
  border: 2px solid #0d092e;
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
a {
  text-decoration: none;
  color: #101e20;
}
a:hover {
  cursor: pointer;
  color: blue;
  text-decoration: none;
}
.text-info {
  font-weight: 400;
  color: #0d092e !important;
}

h3 {
  color: #0d092e !important;
  font-weight: bold;
  text-shadow: 1px 1px;
}
input {
  text-align: center;
}
.btn {
  background: #050316;
}
